<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="style.css" type="text/css" media="screen, projection" />
	<!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>

<body>

<div id="wrapper">

	<div id="header">
		<div class="hlp">
		<img src="pic/logo.gif" class="logo" />
		<ul class="menu">
			<li>01<a href="">Каталог продукции</a></li>
			<li>02<a href="">Проекты</a></li>
			<li>03<a href="">О компании</a></li>
			<li>04<a href="">Услуги</a></li>
			<li>05<a href="">Пресс-центр</a></li>
			<li>06<a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<h6>Казань</h6>
			<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
			<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			<h6>Москва</h6>
			<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
		</div>
		</div>
	</div><!-- #header-->

	<div id="middle">

		<div id="container">
			<div id="content" class="view_collection">
				<p id="breadcrumbs"><a href="#">Главная</a> /<a href="#"> Каталог продукции</a> / <a href="#">Villeroy & Boch</a> /</p>
				<h1>Pure Stone</h1>
			  	<p>Коллекция мебели для ванной комнаты Pure Stone от Villeroy & Bosh прекрастно сочетает в себе природную красоту натуральных материалов (камень, дерево) с совеременным дизайном ванной комнаты. Роскошное сочетание керамики и дерева – актуальный тренд в дизайне ванных комнат.</p>
				<p>Все это придает еще больший уют вашей ванной и превращает ее в оазис релаксации а, что еще более важно является своеобразным щитом, укрывающим вас от стрессов и нагрузок сегодняшней жизни.</p>
				<div class="gallery">
					<img src="pic/images/gallery.gif" />
					<img src="pic/images/gallery_s.gif" class="gal_s" />
					<img src="pic/images/gallery_s.gif" />
					<img src="pic/images/gallery_s.gif" />
					<img src="pic/images/gallery_s.gif" />
					<img src="pic/images/gallery_s.gif" />
					<img src="pic/images/gallery_s.gif" />
					<img src="pic/images/gallery_s.gif" />
					<img src="pic/images/gallery_s.gif" />
					<img src="pic/images/gallery_s.gif" />
					<img src="pic/images/gallery_s.gif" />
				</div>
				
			</div><!-- #content-->
		</div><!-- #container-->

		<div class="sidebar" id="sideRight">
			<div class="bl">
				<ul class="menu_cat">
					<li>
						<h6>Аксессуары</h6>
						<ul>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
						</ul>
					</li>
					<li>
						<h6>Ванны</h6>
						<ul>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
						</ul>
					</li>
					<li>
						<h6>Душевые кабины</h6>
						<ul>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
						</ul>
					</li>
					<li>
						<h6>Керамика и мебель для ванной</h6>
						<ul>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
						</ul>
					</li>
					<li>
						<h6>Плитка</h6>
						<ul>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
						</ul>
					</li>
					<li>
						<h6>Полотенцесушители</h6>
						<ul>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
						</ul>
					</li>
					<li>
						<h6>Смесители</h6>
						<ul>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
					
						</ul>
					</li>
					<li>
						<h6>Фаянс</h6>
						<ul>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
							<li><a href="#">Gessа</a></li>
							<li><a href="#">Colombo</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div><!-- .sidebar#sideRight -->

	</div><!-- #middle-->

</div><!-- #wrapper -->

<div id="footer">
	<div class="hlp">
	<img src="pic/logo_f.gif" class="logo" />
	<p class="copy">&copy; 2011 Салон-магазин «СанСтандарт»</p>
	<ul class="menu">
			<li><a href="">Каталог продукции</a></li>
			<li><a href="">Проекты</a></li>
			<li><a href="">О компании</a></li>
			<li><a href="">Услуги</a></li>
			<li><a href="">Пресс-центр</a></li>
			<li><a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<div>
				<h6>Казань</h6>
				<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
				<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			</div>
			<div>
				<h6>Москва</h6>
				<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
			</div>
		</div>
	</div>
</div><!-- #footer -->

</body>
</html>