<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="style.css" type="text/css" media="screen, projection" />
	<!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>

<body>

<div id="wrapper">

	<div id="header">
		<div class="hlp">
		<img src="pic/logo.gif" class="logo" />
		<ul class="menu">
			<li>01<a href="">Каталог продукции</a></li>
			<li>02<a href="">Проекты</a></li>
			<li>03<a href="">О компании</a></li>
			<li>04<a href="">Услуги</a></li>
			<li>05<a href="">Пресс-центр</a></li>
			<li>06<a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<h6>Казань</h6>
			<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
			<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			<h6>Москва</h6>
			<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
		</div>
		</div>
	</div><!-- #header-->

	<div id="middle">

		<div id="container">
			<div id="content" class="contact">
				<p id="breadcrumbs"><a href="#">Главная</a> /</p>
				<h1>Контакты</h1>
				<div class="map"><img src="pic/images/map.gif" /></div>
				<h2>Казань</h2>
				<div class="adr">
					  <p>Салон Villeroy & Boch</p>
					  <p><a href="#">ул. Достоевского, д. 66</a><br />
					  тел.: +7 (843) 258-19-96</p>
			  	</div>
				<div class="adr">
					  <p>Cалон Ideal Standart</p>
					  <p><a href="#">ул. Чистопольская, д. 32</a><br />
					  тел.: +7 (843) 523-09-57 </p>
			  	</div>
				<h2>Москва</h2>
				<div class="adr">
					  <p>Офис</p>
					  <p><a href="#">Щелковское шоссе, д. 5, оф. 728</a><br />
					  тел.: +7 (495) 984-68-64</p>
			  	</div>
				<div class="adr">
					  <p>Склад</p>
					  <p>Московская область, дер. Черное,<br />
					  <a href="#">ул. Чернореченская, влад. 172 </a><br />
					 тел.: +7 (915) 199-70-01</p>
			  	</div>
				
			</div><!-- #content-->
		</div><!-- #container-->

		<div class="sidebar" id="sideRight">
			<div class="bl">
				<div class="schedule">
					<h6>Время работы салонов</h6>
					<ul>
						<li class="pn">Пн</li>
						<li class="pn">Вт</li>
						<li class="pn">Ср</li>
						<li class="pn">Чт</li>
						<li class="pn">Пт</li>
						<li class="sb">Сб</li>
						<li class="vs">Вс</li>
					</ul>
					<p class="pn">09:00 – 19:00</p>
					<p class="sb">10:00 – 15:00</p>
					<p class="vs">Выходной</p> 
				</div>
			</div>
		<p><a href="#" class="feedback">Обратная связь</a></p>
		</div><!-- .sidebar#sideRight -->

	</div><!-- #middle-->

</div><!-- #wrapper -->

<div id="footer">
	<div class="hlp">
	<img src="pic/logo_f.gif" class="logo" />
	<p class="copy">&copy; 2011 Салон-магазин «СанСтандарт»</p>
	<ul class="menu">
			<li><a href="">Каталог продукции</a></li>
			<li><a href="">Проекты</a></li>
			<li><a href="">О компании</a></li>
			<li><a href="">Услуги</a></li>
			<li><a href="">Пресс-центр</a></li>
			<li><a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<div>
				<h6>Казань</h6>
				<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
				<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			</div>
			<div>
				<h6>Москва</h6>
				<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
			</div>
		</div>
	</div>
</div><!-- #footer -->

</body>
</html>