<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="style.css" type="text/css" media="screen, projection" />
	<!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->

</head>

<body>

<div id="wrapper">

	<div id="header">
		<div class="hlp">
		<img src="pic/logo.gif" class="logo" />
		<ul class="menu">
			<li>01<a href="">Каталог продукции</a></li>
			<li>02<a href="">Проекты</a></li>
			<li>03<a href="">О компании</a></li>
			<li>04<a href="">Услуги</a></li>
			<li>05<a href="">Пресс-центр</a></li>
			<li>06<a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<h6>Казань</h6>
			<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
			<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			<h6>Москва</h6>
			<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
		</div>
		</div>
	</div><!-- #header-->

	<div id="middle">

		<div id="container">
			<div id="content" class="home">
				<div class="collection fon">
					<div class="im"><img src="pic/images/img_1_big.gif" /></div>
					<div class="preview"><img src="pic/images/img_1s.gif" /> <img src="pic/images/img_2s.gif" /> <img src="pic/images/img_3s.gif" /> <img src="pic/images/img_4s.gif" /> <img src="pic/images/img_5s.gif" /> <img src="pic/images/img_6s.gif" /></div>
					<h6>Villeroy & Boch</h6>
					<p>Натуральные материалы, пастельные тона — новая коллекция отражает стремление к оригинальности в очень современном ключе, предоставляя при этом массу возможностей для индивидуального дизайна</p>
					<p><a href="#">Перейти к коллекции &rarr;</a></p>
				</div>
				
				<div class="news">
					<h6>Новости</h6>
					<ul>
						<li>В салоне Ideal Standard <a href="#">началась распродажа</a> выставочных образцов.</li>
						<li>15 июля 2010 года по адресу улица Достоевского, д.66 состоится <a href="#">церемония открытия салона сантехники и керамической плитки Villeroy & Boch</a> в Казани.</li>
						<li><a href="#">Готовая ванная комната Villeroy & Boch</a> от 200 000 рублей!</li>
					</ul>
				</div>
				
				<div class="block bb">
					<h6>О компании</h6>
					<p>Мы занимаемся комплектацией частных интерьеров и коммерческой недвижимости, а также оптовыми и розничными продажами сантехнического оборудования и отделочных материалов. Предоставляем широкий спектр услуг по реализации, исполнению и послепродажному обслуживанию.</p>
					<p>Наша компания — официальный дистрибьютор и прямой импортер лучших европейских производителей.</p>
				</div>
				
				<div class="block">
					<h6>Проекты</h6>
					<p>Оказываем экспертно-консультационные услуги. Состав этих услуг индивидуален для каждого проекта
и тщательно согласовывается с заказчиком при составлении договора.</p>
					<p><img src="pic/images/project_1.gif" align="absmiddle" /> <img src="pic/images/project_2.gif" align="absmiddle" /> <img src="pic/images/project_3.gif" align="absmiddle" /> <img src="pic/images/project_4.gif" align="absmiddle" /> <img src="pic/images/project_5.gif" align="absmiddle" /></p>
				</div>
				
				<div class="carusel">
					<div class="fon"><img src="pic/images/img_karusel_1.gif" /> <img src="pic/images/img_karusel_2.gif" /> <img src="pic/images/img_karusel_3.gif" /> </div>
					<div class="arrow"><img src="pic/сarusel_left.gif" /> <img src="pic/сarusel_right.gif" /></div>
					<p>ISH 2011: Крупнейшая в мире отраслевая инновационная платформа</p>
				</div>
				
				<ul class="service">
					<li>
						<h6>Комплектация коммерческой недвижимости</h6>
						<p>Офисы крупных и мелких компаний, рестораны также не могут обойтись без оборудования туалетных комнат.</p>
					</li>
					<li>
						<h6>Шеф-монтажные работы</h6>
						<p>Наблюдение и организационно-техническое руководство поставкой и монтажом оборудования.</p>
					</li>
					<li>
						<h6>Оптовые продажи сантехники и отделочных материалов</h6>
						<p>Для тех клиентов, которые покупают санфаянс оптом, предусмотрены скидки и особые условия сотрудинчества.</p>
					</li>
					<li>
						<h6>Продажа сантехнического оборудования в розницу</h6>
						<p>Огромный выбор элитной сантехники, сопутсвующих товаров и комплектующих на любой вкус.</p>
					</li>
				</ul>
				
				<div class="brand">
					<h6>Бренды</h6>
					<p><img src="pic/images/brand_1.gif"  align="absmiddle" /> <img src="pic/images/brand_2.gif" align="absmiddle" /> <img src="pic/images/brand_3.gif" align="absmiddle" /> <img src="pic/images/brand_4.gif" align="absmiddle" /> <img src="pic/images/brand_5.gif" align="absmiddle" /> <img src="pic/images/brand_6.gif" align="absmiddle" /> <img src="pic/images/brand_7.gif" align="absmiddle" /></p>
				</div>
		
		
			</div><!-- #content-->
		</div><!-- #container-->


	</div><!-- #middle-->

</div><!-- #wrapper -->

<div id="footer">
	<div class="hlp">
	<img src="pic/logo_f.gif" class="logo" />
	<p class="copy">&copy; 2011 Салон-магазин «СанСтандарт»</p>
	<ul class="menu">
			<li><a href="">Каталог продукции</a></li>
			<li><a href="">Проекты</a></li>
			<li><a href="">О компании</a></li>
			<li><a href="">Услуги</a></li>
			<li><a href="">Пресс-центр</a></li>
			<li><a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<div>
				<h6>Казань</h6>
				<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
				<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			</div>
			<div>
				<h6>Москва</h6>
				<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
			</div>
		</div>
	</div>
</div><!-- #footer -->

</body>
</html>