<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="style.css" type="text/css" media="screen, projection" />
	<!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>

<body>

<div id="wrapper">

	<div id="header">
		<div class="hlp">
		  <a href="#"><img src="pic/logo.gif" border="0" class="logo" /></a>
		<ul class="menu">
			<li>01<a href="">Каталог продукции</a></li>
			<li>02<a href="">Проекты</a></li>
			<li>03<a href="">О компании</a></li>
			<li>04<a href="">Услуги</a></li>
			<li>05<a href="">Пресс-центр</a></li>
			<li>06<a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<h6>Казань</h6>
			<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
			<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			<h6>Москва</h6>
			<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
		</div>
	  </div>
	</div><!-- #header-->

	<div id="middle">

		<div id="container">
			<div id="content" class="view_news">
				<p id="breadcrumbs"><a href="#">Главная</a> / <a href="#">Пресс-центр</a> / <a href="#">СМИ о нас</a> /</p>
				<p class="archive"><a href="#">Архив новостей</a></p>
				<h1>Новинки плитки от Villeroy & Boch</h1>
				<p>Этой весной дивизионом плитки компании Villeroy & Boch были представлены новинки, которые
традиционно характеризуются изысканным дизайном. Красота, неподвластная времени – так выражается
основная идея коллекции керамической плитки La Diva, соединившей мастерство различных культур
в единую уникальную концепцию дизайна. Источником вдохновения для создателей коллекции
послужили мотивы народного творчества мастеров Азии и Европы. </p>
				<img src="pic/images/news.gif" class="fon" />
				<p>La Diva отвечает запросам самых взыскательных дизайнеров и эстетов, людей, которые стремятся
к созданию интерьеров, отражающих определённый стиль жизни, интерьеров с характером, всегда
эксклюзивных и неповторимых. Новая концепция отделки стен от Villeroy & Boch устраняет противоречия:
традиционные элементы и детали классического французского стиля объединены в современный
дизайнерский контекст за счет использования новейших технологий и эффектов.</p>
				<img src="pic/images/news1.gif" class="fon" />
				<p>Высокие технологии, применяемые при производстве плитки, помогли создать мягкую структуру,
а попеременное использование матовых и блестящих поверхностей – игру света. Еще одной новинкой
этого года стала коллекция плитки One & Only. В покрытии плитки соединены как классические теплые
цвета, так и современные текстуры, которые меняют оттенки в зависимости от того, под каким углом
посмотреть на поверхность.</p>
			</div><!-- #content-->
		</div><!-- #container-->

		<div class="sidebar" id="sideRight">
			<div class="bl">
			<ul class="sub">
				<li><a href="#">Новости компании</a></li>
				<li><a href="#">Пресса о нас</a></li>
			</ul>
		</div>
		<p><a href="#" class="feedback">Обратная связь</a></p>
		</div><!-- .sidebar#sideRight -->

	</div><!-- #middle-->

</div><!-- #wrapper -->

<div id="footer">
	<div class="hlp">
	<img src="pic/logo_f.gif" class="logo" />
	<p class="copy">&copy; 2011 Салон-магазин «СанСтандарт»</p>
	<ul class="menu">
			<li><a href="">Каталог продукции</a></li>
			<li><a href="">Проекты</a></li>
			<li><a href="">О компании</a></li>
			<li><a href="">Услуги</a></li>
			<li><a href="">Пресс-центр</a></li>
			<li><a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<div>
				<h6>Казань</h6>
				<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
				<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			</div>
			<div>
				<h6>Москва</h6>
				<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
			</div>
		</div>
	</div>
</div><!-- #footer -->

</body>
</html>