<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="style.css" type="text/css" media="screen, projection" />
	<!--[if lte IE 6]><link rel="stylesheet" href="style_ie.css" type="text/css" media="screen, projection" /><![endif]-->
</head>

<body>

<div id="wrapper">

	<div id="header">
		<div class="hlp">
		<img src="pic/logo.gif" class="logo" />
		<ul class="menu">
			<li>01<a href="">Каталог продукции</a></li>
			<li>02<a href="">Проекты</a></li>
			<li>03<a href="">О компании</a></li>
			<li>04<a href="">Услуги</a></li>
			<li>05<a href="">Пресс-центр</a></li>
			<li>06<a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<h6>Казань</h6>
			<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
			<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			<h6>Москва</h6>
			<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
		</div>
		</div>
	</div><!-- #header-->

	<div id="middle">

		<div id="container">
			<div id="content" class="projects">
				<p id="breadcrumbs"><a href="#">Главная</a> / </p>
				<h1>Проекты</h1>
			 	<p>Предоставляем широкий спектр услуг по реализации, исполнению и послепродажному обслуживанию. Наша компания — официальный дистрибьютор
и прямой импортер лучших европейских производителей.</p>
			 	<h3>Казань</h3>
								
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Министерство транспорта РТ</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Министерство транспорта РТ</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				
				
				<h3>Москва</h3>
								
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Министерство транспорта РТ</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Министерство транспорта РТ</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Президентский дворец</a> </td>
				  </tr>
				</table>
				<table border="0" cellpadding="0" class="pr">
				  <tr>
					<td><img src="pic/images/pr.gif" /></td>
					<td valign="middle"><a href="#">Министерство транспорта РТ</a> </td>
				  </tr>
				</table>


			</div><!-- #content-->
		</div><!-- #container-->

		

	</div><!-- #middle-->

</div><!-- #wrapper -->

<div id="footer">
	<div class="hlp">
	<img src="pic/logo_f.gif" class="logo" />
	<p class="copy">&copy; 2011 Салон-магазин «СанСтандарт»</p>
	<ul class="menu">
			<li><a href="">Каталог продукции</a></li>
			<li><a href="">Проекты</a></li>
			<li><a href="">О компании</a></li>
			<li><a href="">Услуги</a></li>
			<li><a href="">Пресс-центр</a></li>
			<li><a href="">Контакты</a></li>
		</ul>
		<div class="contacts">
			<div>
				<h6>Казань</h6>
				<p>Ideal Standart<br />ул. Чистопольская, д. 32 <br />(843) 523 09 57</p>
				<p>Villeroy & Boch<br />ул. Достоевского, д. 66 <br />(843) 238-52-53 </p>
			</div>
			<div>
				<h6>Москва</h6>
				<p>Щелковское ш., д. 5, оф. 728<br />(495) 984-68-64</p>
			</div>
		</div>
	</div>
</div><!-- #footer -->

</body>
</html>